<div class="search">
  <h3>
    <mat-form-field class="search-query">
      <input 
        [(ngModel)]="query" 
        matInput 
        placeholder="Query to search" 
        (keydown.enter)="sendSearchRequest()"
      >
    </mat-form-field>
  </h3>
  <div *ngIf="results.length > 0">
    <div *ngFor="let result of results">
      <mat-card class="search-result">
        <mat-card-subtitle>{{result.title}} {{result.id}}</mat-card-subtitle>  
        <mat-card-content>
            {{result.short_body}}
        </mat-card-content>
      </mat-card>
    </div>
    <mat-paginator [length]="resultsCount"
                  [pageSize]="resultsPerPage"
                  [pageSizeOptions]="[10,25,50,100]"
                  (page)="onPageEvent($event)">
    </mat-paginator>
  </div>
</div>
